{% extends "base_generic.html" %}
{% block title %}
{% if category %}{{ category.name }} {% else %} Online Shopping Products {% endif %}
{% endblock %}

{% load staticfiles %}
{% block content %}
    <!-- Container (Portfolio Section) -->
<main class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center"> {% if not category %} All Products {% else %} {{ category.name }} {% endif %} </h3>
    <p class="w3-center"><em> Click on the images to make them bigger</em></p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">
        {% for product in products %}

        <div class="w3-col m4">

            <img src="/static/img/{{ product.image }}" alt="{{ product.name }}" style="height:120px" data-toggle="modal"
                 data-target="#{{ product.name }}"
                 class="w3-hover-opacity">
            <div class="modal fade" id="{{ product.name }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">{{ product.name }}</h6>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p class="text-center">{{ product.description }}</p>
                            <p class="text-center">{{ product.price }}</p>
                            <br>
                            <img src="{{ product.image }}"
                                 style='height: 100%; width: 100%; object-fit: contain'/>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="caption">
                <h6 class="text-center">
                    {{ product.name }}
                </h6>
            </div>
            <p class="stock" class="text-center">Stock: {{ product.stock }}</p>
            <div class="price" alt="{{ product.price }}">
                <p class="text-center">Price: {{ product.price }}</p>
            </div>

            {% if product.stock != 0 %}
                {% if user.is_authenticated %}
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}

                        <button type="submit" class="btn btn-success btn-product">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                        </button>
                    </form>
                {% else %}
                    <button class="btn btn-success btn-product">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Not Available
                    </button>
                {% endif %}

            {% else %}
            <button class="btn btn-danger btn-product" type="button" class="btn">Sold Out!</button>
            {% endif %}
        </div>

        {% if forloop.counter|divisibleby:3 or forloop.last %}
        <div class="w3-row-padding w3-center w3-section"><br><br></div>

        <div class="w3-row-padding w3-center w3-section">

            {% endif %}
            {% endfor %}

        </div>
    </div>



<div class="modal fade" id="cartModal">
<div class="modal-dialog">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Complete "Add to Cart"</h4>
<button type="button" class="close" data-dismiss="modal">×</button>
</div>

<!-- Modal body -->
<div class="modal-body">
Your purchased item has been added to Cart.
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-danger" data-dismiss="modal">Continue Shopping
</button>
<a href="{% url 'cart:cart_detail' %}">Go to
Cart</a>
<button type="button" class="btn" data-dismiss="modal"></button>

</div>

</div>
</div>

</div>

</main>
{% endblock %}




